/*font-family: 'Antonio', sans-serif;
font-family: 'Poppins', sans-serif;*/

body {
  background: linear-gradient(
    109.6deg,
    rgb(255, 221, 225) 11.2%,
    rgb(255, 255, 255) 92.2%
  );
}

h1 {
  font-family: "Antonio", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
