:root {
  --branding-color: #ffb5b5;
  --secondary-color: linear-gradient(
    109.6deg,
    rgb(255, 221, 225) 11.2%,
    rgb(255, 255, 255) 92.2%
  );
  --heading-font-family: "Antonio", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 56px;
}

h4 {
  font-size: 48px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  margin: 0;
  color: #222831;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: 300;
  line-height: 1.5;
  font-size: 24px;
  color: #222831;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: #222831;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 0px 60px;
}

.contact-box {
  background: var(--secondary-color);
  justify-content: space-between;
  margin: 100px;
  padding: 40px 40px;
  border-radius: 10px;
  text-align: center;
}

.btn-branding-contact {
  background: var(--branding-color);
  border-radius: 4px;
  color: #222831;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.social-icons {
  width: 80px;
  padding: 20px;
}

.toolbox {
  text-align: center;
}

.toolbox-icons {
  width: 100px;
}

.content-container {
  text-align: center;
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: 300px;
}

.content {
  margin: 0px 100px;
}

.btn-branding-projects {
  background: var(--branding-color);
  border-radius: 4px;
  color: #222831;
  font-size: 12px;
  line-height: 15px;
  padding: 10px 20px;
}

.technologies {
  color: var(--branding-color);
}

.contact-icons {
  width: 100px;
  padding: 20px;
}

img:hover {
  transform: scale(1.2);
  transition: all 150 ease-in-out;
}

@media (max-width: 900px) {
  h1 {
    font-size: 42px;
    line-height: 2;
  }

  h2 {
    font-size: 42px;
  }

  .hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content-container {
    padding: 0;
  }

  .btn-branding {
    display: none;
  }

  .btn-branding-projects {
    background: none;
    text-decoration: underline;
    font-size: 12px;
    line-height: 15px;
    padding: 10px 20px;
  }
}
